.data-wrapper > * {
	background-color: transparent !important;
	border: 0 !important;
}

.data-wrapper > * > *:nth-child(2) {
	padding: 0 !important;
}

.data-wrapper > * > * {
	background-color: transparent !important;
	border: 0 !important;
}

.table-data {
	max-width: 950px;
	margin: auto;
	padding: 30px;
}

.table-content {
	border-color: #23085A !important;
}

.table-content th,
.table-content td {
	padding: 15px !important;
	font-size: 17px;
	color: #212529;
	font-weight: 500;
}

.table-content th {
	font-size: 21px;
	font-weight: 700;
}

@media (max-width: 575px) {
	.table-data {
		padding: 15px;
	}
}
