html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
 	font-family: 'Roboto-400';
	color: #212529;
	line-height: 1.5;
	overflow-x: hidden;
}

/* 
==================================
Bacic Setup
==================================
*/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

section {
	padding: 70px 0 50px;
}

a,
span,
label {
	display: inline-block;
}

ul li {
	list-style: none
}

a,
a:focus {
	text-decoration: none !important;
}

button:focus,
input:focus,
textarea:focus,
button,
input,
textarea {
	outline: 0;
	border: 0;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
	margin: 0;
	padding: 0;
}

hr {
	opacity: 1;
	background-color: transparent;
}


